// colors
$darkBlue: #1102F2;
$orange: #F49C04;
$darkOrange: #E43B12;

$color-primary-0: #E43A12;	// Main Primary color */
$color-primary-1: #FF896D;
$color-primary-2: #F36342;
$color-primary-3: #B42806;
$color-primary-4: #8D1B00;

// typo

$hs-1: 1.75rem;
$hs-2: 1.5rem;
$hs-3: 1.25rem;
$hs-4: 1rem;

/* Smaller Heanding Size */
$shs-1: 1.625rem;
